html,body{padding:0px;margin:0px;overflow:hidden;overflow-y:hidden;font-family: 'Stalemate', cursive;color:#D8CC91;}
div.container{background:#4F6270;width:100%;margin:0px auto}
canvas{text-align:center;margin:0px auto;position:fixed;}
div.pic{max-width:100%;padding:10px;background:rgba(255,255,255,0.6);border-radius:100%;margin:0px auto;}
div.pic>img{border-radius:100%;width:100%;}
div.pic-wrapper{padding:5px;background:rgba(255,255,255,0.3);border-radius:100%;display:block;margin:0px auto;width:130px;-webkit-transform:translate3d(0px,0px,120px);-moz-transform:translate3d(0px,0px,120px);-ms-transform:translate3d(0px,0px,120px);}
.wrapper{padding-top:120px}
.text{font-size:100px;text-align:center;margin-top:50px}
.small-text{text-align:center;color:#FFFFFF;font-size:50px;margin-top:50px}